<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
<!-- css sheet -->
<link rel="stylesheet" type="text/css" href="../css/general.css"/>
<link rel="stylesheet" type="text/css" href="../css/about.css"/>
<link rel="stylesheet" type="text/css" href="../css/index.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- js file -->   
    <!-- js bootstrap file start-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- js bootstrap file end-->
<script src="../javascript/header.js"></script> 

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>
<title>Youssef Elsabawy is a web developer</title>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" style="color: white;" class="closebtn" onclick="closeNav()">×</a>
        <a href="../index.html" class="noHref" style="color: white;"> Home </a>
        <a href="../resume/Resume.pdf" class="noHref" style="color: white;" target="_blank"> Resume </a>
        <a onclick="closeNav()" style="cursor: pointer;" class="noHref" style="color: white;"> Some Projects </a>
        <a href="https://leetcode.com/Yelsabawyy/"  target="_blank" style="color: white;">
            <p>leetcode Account</p> 
        </a> 
        <a href="https://github.com/Yelsabawyy"  target="_blank" style="color: white;">
            <p>Github Account</p> 
        </a>

    </div>
<div class="container-fluid header">
    <div class="col-md-6 col-sm-12 logo center-xs center-sm">
        <a  href="javascript:void(0); " class=" hidden-lg hidden-md  floatLeft burgerMenu" onclick="openNav()">
            <i class="fa fa-bars noPadding noMargin"></i>
        </a>  
         <h2 class="noPadding noMargin">Youssef Elsabawy</h2>
    </div>
    <div class="col-md-6 hidden-xs hidden-sm flex-right "> 
        <a class="link hidden-xs hidden-sm " href="../index.html"> Home </a>
        <a class="link hidden-xs hidden-sm" href="../resume/Resume.pdf" target="_blank" >  Resume </a>
        <a class="link hidden-xs hidden-sm" active >  Some Projects </a>
    </div>
</div>


<div class="container-fluid noMargin noPadding">
    <div class="col-md-2 hidden-sm hidden-xs center">

        <div class=" margin-top-20px">
            <a href="https://github.com/Yelsabawyy" class="noHref" target="_blank">
                <img  class="responsive imgLeft" width="70%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/1024px-Git-logo.svg.png">
                <p class="center bold">My Github Account</p> 
            </a> <br>
            <a href="https://leetcode.com/Yelsabawyy/" class="noHref" target="_blank">
                <img  class="responsive imgLeft" width="70%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdp8a8M6JiIyo6Q_aIlfWe-UQxzTzyEW8N1tnK79b3FTNJahbMC1celyh4cAt4nwElTg&usqp=CAU">
                <p class="center bold">My leetcode Account</p> 
            </a> <br>
        </div>
    </div>

    <div class="col-md-6  col-sm-8 col-xs-12 border "> 
      <div class="marign-20px">
        <h2 class="black bold">Mern stack chat app</h2>
        <h5 class="date noMargin noPadding"> April, 2023</h5><br>
        <div>
          <video autoplay muted loop controls style="width: 100%;height: auto;">
            <source src="../videos/chat.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>

        <div class="details">
          Develop a MERN stack application with real-time chat functionality using Node.js for the API, React for the frontend, Chakra for the UI components, Socket for handling real-time communication, and MongoDB with Mongoose for data storage and management.<br>
          Technologies used:  Node.js, Express.js, RESTful API , React, Chakra, Socket, MongoDB, Mongoose<br> 
          
          <bold>GitHub link: <bold> <a href="https://github.com/Yelsabawyy/mern-stack-chat-app.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/mern-stack-chat-app.git</a></bold>
        </div>
    </div>
    <hr>
<!-- paintiro ecommerce -->
<div class="marign-20px">
  <h2 class="black bold">Paintiro!!</h2>
  <h5 class="date noMargin noPadding"> June, 2022</h5><br>
  <div>
    <video autoplay muted loop controls style="width: 100%;height: auto;">
      <source src="../videos/paintiro1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="details">
    Paintiro Is Artworks' bespoke website, expertly leveraging an array of state-of-the-art tools and technologies, including Bootstrap, HTML, CSS, Node.js, MongoDB, and Paymob's secure online payment gateway. 
  </div> <br>
  <div>
    <video autoplay muted loop controls style="width: 100%;height: auto;">
      <source src="../videos/paintiro2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="details">
    After deployment and use paymob as online payment gateway. <br>
    <bold>link: <a href="https://www.paintiro.com/" class="noHref red" style="text-decoration: none;"> https://www.paintiro.com/</a></bold>
  </div>
  
</div>
<hr>
      <div class="marign-20px">
        <h2 class="black bold">Roadn!!</h2>
        <h5 class="date noMargin noPadding"> November, 2021</h5><br>
          <h3 class="red "> My First Launched Application!! </h3>
        <div class="details">Roadn Application consists of two integrated applications: Roadn Client and Roadn Driver. Roadn Client is designed for clients, while Roadn Driver is designed for drivers. The driver application includes in-app purchase functionality. The backend of the Roadn solution is developed using Node.js, while the user interface is developed using Flutter and Dart programming languages.
          <br>
          <bold>Google Play (Roadn Driver) link: <a href="https://play.google.com/store/search?q=roadn&c=apps" class="noHref red" style="text-decoration: none;"> https://play.google.com/store/search?q=roadn&c=apps</a></div>
    </div>
    <hr>
      <!-- first ecommerce -->
      <div class="marign-20px">
          <h2 class="black bold">Ecommerce Using node js, MongoDB and bootstrap!!</h2>
          <h5 class="date noMargin noPadding"> June, 2021</h5><br>
          <div>
            <video autoplay muted loop controls style="width: 100%;height: auto;">
              <source src="../videos/ecommerce.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          </div>
            <h3 class="red "> My First Big Project!! </h3>
          <div class="details">
            This sophisticated e-commerce platform was developed for a supermarket, with full responsiveness across all devices. The website caters to two distinct user types: administrators and normal users. Administrators possess enhanced capabilities that include product management, enabling them to add, edit, and delete products, as well as control shipment status. Meanwhile, normal users enjoy a complete set of functionalities that include purchasing products and tracking orders. The website also incorporates an email notification system that automatically alerts users when they place an order, contributing to a smooth and streamlined shopping experience. The platform has been crafted using a blend of cutting-edge web technologies including HTML, CSS, and JavaScript, ensuring an optimal user experience at every touchpoint. <br>
            Technologies used: Node.js, HTML, CSS, Javascript, jQuery, MongoDB, Mongoose, Socket <br> 
            <bold>GitHub link: <bold> <a href="https://github.com/Yelsabawyy/ecommerce.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/ecommerce.git</a></bold></bold>
          
          </div>
      </div>
      <hr>
      <!-- CPU SCH!! -->
      <div class="marign-20px">
          <h2 class="black bold">Vector Space Model</h2>
          <h5 class="date noMargin noPadding">December, 2019</h5><br>

          <p class="details">
          
The Vector Space Model is a mathematical framework used in information retrieval to represent and search for documents based on their semantic meaning.
Through my knowledge of Python programming, I have successfully designed and implemented a vector space model from the ground up, showcasing my expertise in information retrieval and natural language processing.
            <br><bold>GitHub link: <bold> <a href="https://github.com/Yelsabawyy/Vector-Space-Model.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/Vector-Space-Model.git</a></bold></bold>
          
          </p>
      </div>
      <hr>
      <!-- CPU SCH!! -->
      <div class="marign-20px">
          <h2 class="black bold">CPU scheduling code</h2>
          <h5 class="date noMargin noPadding">December, 2019</h5><br>


          <ul class="details">
            <li class="details">First Come First Serve (FCFS): This algorithm schedules processes based on their arrival time, executing the process that arrived first before moving on to the next one.</li>
            <li class="details">Round Robin (RR): This algorithm allocates a fixed time slice for each process, and after the time slice is up, the next process in the queue is executed.</li>
            <li class="details">Shortest Job First (SJF): This algorithm schedules processes based on their burst time, executing the process with the shortest burst time first.</li>
            <li class="details">Shortest Remaining Time First (SRTF or SJRF): This algorithm schedules processes based on their remaining burst time, executing the process with the shortest remaining burst time first.</li>
          </ul><br>
          <p class="details"> Through my knowledge of Python programming, I have successfully designed and implemented four CPU scheduling codes. </p> <br>
            <bold class="details">GitHub link: <bold> <a href="https://github.com/Yelsabawyy/CPU-scheduling.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/CPU-scheduling.git</a></bold></bold>
          
     
      </div>
      <hr>
      <!-- Old Arabic Convertor!! -->
      <div class="marign-20px">
          <h2 class="black bold">Old Arabic Convertor!!</h2>
          <h5 class="date noMargin noPadding">March, 2019</h5><br>
          <video autoplay muted loop controls style="width: 100%;height: auto;">
            <source src="../videos/oldArabic.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
          <p class="details">
            The purpose of this website is to facilitate the conversion of modern Arabic to its older form by removing the dots from letters, and it is powered by javascript. The website's design leverages HTML, CSS, Bootstrap3, and JavaScript to provide a seamless user experience.<br>
            <bold>GitHub link: <bold> <a href="https://github.com/Yelsabawyy/old-arabic.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/old-arabic.git</a></bold></bold>
          
          </p>
      </div>
      <hr>
      <!-- Organization Website!! -->
      <div class="marign-20px">
          <h2 class="black bold">Practice Coding!!</h2>
          <h5 class="date noMargin noPadding">December 2018</h5><br>
          <div>
            <video autoplay muted loop controls style="width: 100%;height: auto;">
              <source src="../videos/OrganizationWebsite.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          </div>
          <p class="details">
            The organization's responsive website showcases its prices and provides some informative content. This project was built using HTML, CSS, Bootstrap3, and javascript.<br>
            <bold>GitHub link: <bold><a href="https://github.com/Yelsabawyy/organization-website.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/organization-website.git</a></bold></bold>
          </p>
      </div>
      <hr>
    <!-- first Website!! -->
      <div class="marign-20px">
          <h2 class="black bold">My Firts HTML/CSS Project!!</h2>
          <h5 class="date noMargin noPadding">September, 2018</h5><br>
          <div>
            <video autoplay muted loop controls style="width: 100%;height: auto;">
              <source src="../videos/firstWebsite.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
          </div>
          <p class="details">
            This project marked my inaugural foray into web development. Its primary objective was to familiarize myself with fundamental HTML and CSS tags in order to construct my first website from scratch, leveraging native coding techniques.<br>
            
            <bold>GitHub link: <bold> <a href="https://github.com/Yelsabawyy/first-website.git" class="noHref red" style="text-decoration: none;"> https://github.com/Yelsabawyy/first-website.git</a></bold></bold>
          
          </p>
      </div>
      <hr>        



      
      
  </div>


    <!-- about me in all lg md sm screen -->
    <div class="col-md-4 col-sm-4 hidden-xs ">
        <h4 class=" black bold"> ABOUT ME</h4>
        <img src="../images/profilePicture/profilePicture.jpg" class="img-circle" alt="Cinque Terre">
        <div class="margin-left-30px margin-right-30px">
            <h3 class="bold black">Youssef Elsabawy</h3>
            <h6 class="bold grey noMargin noPadding"> Web Developer</h6>
            <hr>
        </div>
        <p class="intro">
        <span class="red"> Youssef Elsabawy</span> is a<span class="red"> Web Developer.</span>
         He is a Full Stack Developer, He can build frontend and backend of websites and web application that leads to success of the overall product. <br> 
         <!-- <a class="red readmore" href="./views/about.html">Read more → </a> -->
        <br>
        <span class="bold black">Born:</span> August 1, 1999 (age 23 years), <a class="red readmore">Alexandria, Egypt</a>
        <br><br>
        <span class="bold black">Education:</span> bachelor degree in computer science (CGPA : 3.6)
        <br><br>
        <span class="bold black">Contact:</span> <br>
         Phone Number: +201283230322 <br>
         Email: <a href="mailto:yelsabawyy@gmail.com" style="direction: none; color: #333333;" target="_blank">yelsabawyy@gmail.com</a>
        
    </p>
    <div class="margin-left-30px">
        <a href="https://www.linkedin.com/in/yelsabawyy" class="fa fa-linkedin redBgHover noHref"></a>
        <a href="https://github.com/Yelsabawyy" class="fa fa-github redBgHover noHref"></a>
    </div>


    </div>
</div>


<div class="center footer">
    © Youssef Elsabawy 2021
</div>
</body>
</html>